body {
    background-color: cornflowerblue;

}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    padding: left;
    text-align: center;

}

#navbar {
    font-size: 15%;
    color: orange;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link {
    color: pink;
    
}